
@{
    ViewData["Title"] = "ErrorView";
    Layout = "~/Views/_master.cshtml";
}
    <div class="error-view">
        <h1>500 - Internal server error</h1>
        <p>Well... that was unexpected! An exception happend while processing your request.</p>
    </div>


@section title{
    Error
}